<app-sidebar></app-sidebar>
<div class="navFarmForm">
  <app-user-nav-bar [menuName]="menuName"></app-user-nav-bar>
</div>
<div class="container-form">
  <div class="col-12 col-md-12 col-lg-6 col-xl-6">
    <div class="mb-5 mt-4 pb-5 ms-4">
      <form
        class="p-fluid grid"
        (ngSubmit)="saveNewFarm()"
        [formGroup]="farmForm"
        #formDir="ngForm"
      >
        <div class="form-farm">
          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <input
                [ngClass]="{
                  'ng-invalid ng-dirty':
                    name.errors && formDir.submitted && !formSended
                }"
                type="text"
                id="inputtext"
                pInputText
                name="name-farm"
                formControlName="name"
                required
              />
              <label for="inputtext">Nome da Fazenda</label>
            </span>
          </div>

          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <input
                [ngClass]="{
                  'ng-invalid ng-dirty':
                    address.errors && formDir.submitted && !formSended
                }"
                type="text"
                id="inputtext"
                pInputText
                name="address-farm"
                formControlName="address"
                required
              />
              <label for="inputtext">Endereço da Fazenda</label>
            </span>
          </div>

          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <p-dropdown
                [ngClass]="{
                  'ng-invalid ng-dirty':
                    grainId.errors && formDir.submitted && !formSended
                }"
                inputId="dropdown"
                emptyMessage="Nenhum grão encontrado"
                [autoDisplayFirst]="false"
                [options]="grainsFromCompany"
                [showClear]="true"
                optionGroupLabel="grain"
                optionLabel="name"
                optionValue="id"
                formControlName="grainId"
                name="grain"
                [required]="true"
              ></p-dropdown>
              <label for="dropdown">Grão Produzido</label>
            </span>
          </div>

          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <p-calendar
                [ngClass]="{
                  'ng-invalid ng-dirty':
                    lastHarvest.errors && formDir.submitted && !formSended
                }"
                inputId="calendar"
                [showIcon]="true"
                name="last-harvest-date"
                formControlName="lastHarvest"
                dateFormat="dd/mm/yy"
                [showClear]="true"
                [required]="true"
              ></p-calendar>
              <label for="calendar">Data da Última Colheita</label>
            </span>
          </div>

          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <p-inputNumber
                [ngClass]="{
                  'ng-invalid ng-dirty':
                    stock.errors && formDir.submitted && !formSended
                }"
                id="inputnumber"
                name="stock"
                formControlName="stock"
                [required]="true"
              ></p-inputNumber>
              <label for="inputnumber">Estoque Inicial</label>
            </span>
          </div>
        </div>
        <div class="container-btn-register mt-4">
          <app-button [text]="btnName" class="btn-register"></app-button>
        </div>
      </form>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
