<app-sidebar></app-sidebar>
<app-user-nav-bar [menuName]="menuName"></app-user-nav-bar>
<div class="container-form">
  <div class="col-12 col-md-12 col-lg-6 col-xl-6">
    <div class="mb-5 mt-4 pb-5 ms-4">
      <p-toast></p-toast>
      <p-toast position="top-left" key="tl"></p-toast>
      <p-toast position="top-center" key="tc"></p-toast>
      <p-toast position="bottom-center" key="bc"></p-toast>

      <form
        class="p-fluid grid"
        (ngSubmit)="saveNewEmployee()"
        [formGroup]="employeeForm"
        #formDir="ngForm"
      >
        <div class="form-employee">
          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <input
                [ngClass]="{
                  'ng-invalid ng-dirty':
                    name.errors && formDir.submitted && !formSended
                }"
                type="text"
                id="inputtext"
                pInputText
                name="name-employee"
                formControlName="name"
                required
              />
              <label for="inputtext">Nome</label>
            </span>
          </div>

          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <p-dropdown
                [ngClass]="{
                  'ng-invalid ng-dirty':
                  farmId.errors && formDir.submitted && !formSended
                }"
                inputId="dropdown"
                emptyMessage="Nenhuma fazenda encontrada"
                [autoDisplayFirst]="false"
                [options]="farmFromCompany"
                [showClear]="true"
                optionGroupLabel="farm"
                optionLabel="name"
                optionValue="id"
                formControlName="farmId"
                name="farm"
                [required]="true"
              ></p-dropdown>
              <label for="dropdown">Fazenda</label>
            </span>
          </div>

          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <input
                [ngClass]="{
                  'ng-invalid ng-dirty':
                    (cpf.errors || cpf.errors?.['pattern']) && formDir.submitted && !formSended
                }"
                type="text"
                id="inputtext"
                pInputText
                name="cpf-employee"
                formControlName="cpf"
                mask="000.000.000-99"
                required
              />
              <label for="inputtext">CPF</label>
            </span>
          </div>

          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <input
                [ngClass]="{
                  'ng-invalid ng-dirty':
                  (telephoneNumber.errors || telephoneNumber.errors?.['pattern']) && formDir.submitted && !formSended
                }"
                type="text"
                id="inputtext"
                pInputText
                name="phone-employee"
                formControlName="telephoneNumber"
                mask="(00)00000-0009"
                required
              />
              <label for="inputtext">Telefone</label>
            </span>
          </div>

          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <input
                [ngClass]="{
                  'ng-invalid ng-dirty':
                    job.errors && formDir.submitted && !formSended
                }"
                type="text"
                id="inputtext"
                pInputText
                name="occupation-employee"
                formControlName="job"
                required
              />
              <label for="inputtext">Função Principal</label>
            </span>
          </div>

          <div class="field col-12 md:col-4">
            <label for="active-employee">ATIVO</label>
            <div class="flexSwitchCheckChecked">
              <p-inputSwitch
                formControlName="status"
                name="status"
              ></p-inputSwitch>
            </div>
          </div>
        </div>
        <div class="container-btn-register mt-4">
          <app-button [text]="btnName" class="btn-register"></app-button>
        </div>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
