<section class="body-color">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-white" style="border-radius: 0.5rem">
          <div class="card-body p-5">
            <div class="pb-4 text-center">
              <img id="logo" src="./assets/img/logo.png" alt="" />
              <h2 class="Poppins mb-5 text-center">Dev-Agro</h2>
              <p class="mb-0 mb-4 text-center">Entre com seu login e senha</p>

              <form
                class="p-fluid grid row g-4 needs-validation"
                (ngSubmit)="submit()"
                [formGroup]="loginFormGroup"
                #formDir="ngForm"
                [ngClass]="{
                  'was-validated': loginFormGroup.invalid && formDir.submitted
                }"
              >
                <div class="field col-12 md:col-4">

                    <input
                      placeholder="E-mail"
                      class=""
                      type="email"
                      id="inputtext"
                      pInputText
                      formControlName="email"
                      required
                    />

                  <div *ngIf="email.invalid && formDir.submitted">
                    <small *ngIf="email.errors?.['required']"
                      >É necessário informar um e-mail.
                    </small>
                    <small *ngIf="email.errors?.['email']"
                      >O e-mail informado é inválido.
                    </small>
                  </div>
                </div>

                <div class="field col-12 md:col-4">
                    <p-password
                      [toggleMask]="true"
                      [showClear]="true"
                      inputStyleClass="p-pass"
                      promptLabel="Preencha a senha"
                      weakLabel="Fraca"
                      mediumLabel="Média"
                      strongLabel="Forte"
                      placeholder="Senha"
                      inputId="password"
                      formControlName="password"
                      styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                      required
                    ></p-password> <!--Solução problema toggleMask https://github.com/primefaces/primeng/issues/10788-->
                  <div *ngIf="password.invalid && formDir.submitted">
                    <p *ngIf="password.errors?.['required']">
                      É necessário informar uma senha.
                    </p>
                  </div>
                </div>

                <p-button
                  styleClass="btn-login"
                  label="Log in"
                  type="submit"
                ></p-button>

                <div
                  *ngIf="!loginSuccessful && formDir.submitted"
                  class="alert alert-danger"
                  role="alert"
                >
                  <small>O usuário e/ou senha informado é inválido.</small>
                </div>
              </form>

              <br />

              <!--O evento de clique de forgotPassword precisou ser colocado para fora do formulário, pois como formulário é reativo,
              por algum motivo (acredito ser um bug do angular) ele está chamando o evento de submit junto com o evento de click.-->
              <p class="small mb-1 pb-lg-2">
                <button (click)="forgotPassword()" class="link">
                  Esqueceu a senha?
                </button>
              </p>
            </div>

            <div class="button-link">
              <p class="mb-0 text-center">Sua empresa não possui conta?</p>
              <a routerLink="../signin" class="link text-center">Crie agora!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
