<div class="company-form-hero principal-bg">
  <div class="container-company-form">
    <form
      class="p-fluid grid company-form row g-4 needs-validation"
      (ngSubmit)="submit()"
      [formGroup]="companyForm"
      #formDir="ngForm"
      [ngClass]="{
        'was-validated':
          companyForm.invalid && formDir.submitted && !registerSended
      }"
    >
      <div class="header-company-form">
        <div class="logo-dih-forms"></div>
        <h1 class="mb-3 fw-normal">Dev-Agro</h1>
        <h4 class="mb-3 fw-normal">Cadastro de empresa</h4>
      </div>

      <div class="field col-12 md:col-4">
        <span class="p-float-label">
          <input
            type="text"
            id="inputtext"
            pInputText
            formControlName="name"
            required
          />
          <label for="inputtext">Nome</label>
        </span>
        <div *ngIf="name.invalid && formDir.submitted">
          <small *ngIf="name.errors?.['required']"
            >O nome da empresa é obrigatório.
          </small>
        </div>
      </div>

      <div class="field col-12 md:col-4">
        <span class="p-float-label">
          <input
            type="text"
            id="inputtext"
            pInputText
            [mask]="'00.000.000/0000-99'"
            [pattern]="regexCnpj"
            formControlName="cnpj"
            required
          />
          <label for="inputmask">CNPJ</label>
        </span>
        <div *ngIf="cnpj.invalid && formDir.submitted">
          <small *ngIf="cnpj.errors?.['pattern']"
            >O CNPJ precisa corresponder a um formato válido.
          </small>
          <small *ngIf="cnpj.errors?.['required']"
            >O cnpj é obrigatório.
          </small>
        </div>
      </div>

      <div class="field col-12 md:col-4">
        <span class="p-float-label">
          <input
            type="text"
            id="inputtext"
            pInputText
            formControlName="address"
            required
          />
          <label for="inputtext">Endereço da sede</label>
        </span>
      </div>

      <div class="field col-12 md:col-4">
        <span class="p-float-label">
          <input
            type="email"
            id="inputtext"
            pInputText
            formControlName="email"
            [pattern]="regexEmail"
            required
          />
          <label for="inputtext">E-mail</label>
        </span>
        <div *ngIf="email.invalid && formDir.submitted">
          <small *ngIf="email.errors?.['required']"
            >O e-mail é obrigatório.
          </small>
          <small *ngIf="email.errors?.['pattern']"
            >O e-mail informado é inválido.
          </small>
        </div>
      </div>

      <div class="field col-12 md:col-4">
        <span class="p-float-label">
          <p-password
            inputId="password"
            formControlName="password"
            [toggleMask]="true"
            [showClear]="true"
            inputStyleClass="p-pass"
            promptLabel="Preencha a senha"
            weakLabel="Fraca"
            mediumLabel="Média"
            strongLabel="Forte"
            styleClass="p-password p-component p-inputwrapper p-input-icon-right"
            required
          ></p-password>
          <label for="password">Senha</label>
        </span>
        <div
          *ngIf="password.invalid && formDir.submitted"

        >
          <small *ngIf="password.errors?.['required']"
            >A senha é obrigatória.
          </small>
          <small *ngIf="password.errors?.['pattern']"
            >O formato da senha precisa corresponder aos critérios requeridos
            com no mínimo um caracter especial [@#$], um caracter maiúsculo
            [A-Z] e um caracter numérico [0-9].
          </small>
          <small *ngIf="password.errors?.['matchPassword']"
            >As senhas informadas são diferentes.
          </small>
        </div>
      </div>

      <div class="field col-12 md:col-4">
        <span class="p-float-label">
          <p-password
            inputId="password"
            formControlName="confirmPassword"
            [toggleMask]="true"
            [showClear]="true"
            inputStyleClass="p-pass"
            promptLabel="Preencha a senha"
            weakLabel="Fraca"
            mediumLabel="Média"
            strongLabel="Forte"
            styleClass="p-password p-component p-inputwrapper p-input-icon-right"
            required
          ></p-password>
          <label for="password">Informe a senha novamente</label>
        </span>
        <div
          *ngIf="password.invalid && formDir.submitted"

        >
          <small *ngIf="password.errors?.['required']"
            >A senha é obrigatória.
          </small>
          <small *ngIf="password.errors?.['pattern']"
            >O formato da senha precisa corresponder aos critérios requeridos
            com no mínimo um caracter especial [@#$], um caracter maiúsculo
            [A-Z] e um caracter numérico [0-9].
          </small>
          <small *ngIf="password.errors?.['matchPassword']"
            >As senhas informadas são diferentes.
          </small>
        </div>
      </div>

      <div class="col-12 container-btn">
        <app-button [text]="registerBtn"></app-button>
      </div>
    </form>
  </div>
</div>
