<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
  crossorigin="anonymous"
/>
<app-sidebar></app-sidebar>
<app-user-nav-bar [menuName]="menuName"></app-user-nav-bar>
<div class="container-form">
  <div class="col-12 col-md-12 col-lg-6 col-xl-6">
    <div class="mb-5 mt-4 pb-5 ms-4">
      <form
        class="p-fluid grid"
        [formGroup]="grainForm"
        name="grainForm"
        (ngSubmit)="updateGrain()"
        #formDir="ngForm"
      >
        <div class="form-grain">
          <div *ngIf="companies.length > 0; else loading">
          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <input
                [ngClass]="{
                  'ng-invalid ng-dirty':
                    grainForm.invalid && formDir.submitted && !formSended
                }"
                type="text"
                id="inputtext"
                pInputText
                name="nameGrain"
                formControlName="name"
                required
                [(ngModel)]="grain.name"
              />
              <label for="inputtext">Nome do Grão</label>
            </span>
          </div>

          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <p-dropdown
                inputId="dropdown"
                emptyMessage="Nenhuma fazenda encontrada"
                [autoDisplayFirst]="false"
                [options]="companies"
                [showClear]="true"
                optionGroupLabel="farm"
                optionLabel="name"
                optionValue="id"
                formControlName="farmProducesId"
                name="farm"
                [ngModel]="farm != null ? farm.id : ''"
              ></p-dropdown>
              <label for="dropdown">Fazenda que Produz o Grão</label>
            </span>
          </div>

          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <p-calendar
                [ngClass]="{
                  'ng-invalid ng-dirty':
                    grainForm.invalid && formDir.submitted && !formSended
                }"
                inputId="calendar"
                [showIcon]="true"
                name="harvestForecast"
                formControlName="nextHarvestDate"
                dateFormat="dd/mm/yy"
                [showClear]="true"
                [required]="true"
                [ngModel]="convertFromStringToDate(grain.nextHarvestDate)"
              ></p-calendar>
              <label for="calendar">Previsão de Colheita</label>
            </span>
          </div>

          <div class="field col-12 md:col-4">
            <span class="p-float-label">
              <input
                type="text"
                id="inputtext"
                pInputText
                name="additionalInformation"
                formControlName="additionalInformation"
                [(ngModel)]="grain.additionalInformation"
              />
              <label for="inputtext">Informações Adicionais</label>
            </span>
          </div>

          <div class="form-group mt-4 me-4 ms-4">
            <label for="photo">FOTO</label>
          </div>
          <div class="container-photo col-12 col-md-6 col-lg-6 col-xl-6">
            <div class="form-group mt-4 mb-4 me-4 ms-4">
              <div class="btnPhoto input-group input-group-lg">
                <label class="btn btn-default btn-file">
                  <i class="fas fa-file"></i>
                  <input
                    type="file"
                    name="photo"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-lg"
                    required
                  />
                </label>
              </div>
            </div>
          </div>
        </div>
        <ng-template #loading>
          <p-progressSpinner class="loading"></p-progressSpinner>
        </ng-template>
      </div>
        <div class="container-btn-register mt-4">
          <app-button [text]="'Editar'" class="btn-register"></app-button>
        </div>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
